.title {
    font-size: var(--extra-font-size);
    color: white;
    font-weight: 800;
    text-transform: uppercase;
    transition-duration: 1s;
    animation-duration: 1s;
    white-space: nowrap;
    line-height: 130px;

    margin: 50px 0;
    width: 100%;
}